In [21]:
from datetime import datetime
import numpy as np 
import pandas as pd 
import glob 
import random 
import os 

# kmjng
base_folder =  '/home/user/miniconda3/envs/gpu_conda/src/data/ETRI_lifelog_dataset'

# # kmjng-nb
# base_folder = 'C:/Users/minjeong/Documents/my_env/env1/src/data/ETRI_lifelog_dataset'

folder = '/ch2025_data_items'

data_dir = base_folder + folder 


# Parquet íŒŒì¼ ì „ì²´ ê²½ë¡œ ë¦¬ìŠ¤íŠ¸ 
parquet_files = glob.glob(os.path.join(data_dir, 'ch2025_*.parquet')) 

# íŒŒì¼ ì´ë¦„ì„ í‚¤ë¡œ, DataFrameì„ ê°’ìœ¼ë¡œ ì €ì¥í•  ë”•ì…”ë„ˆë¦¬ 
lifelog_data = {} 

# íŒŒì¼ë³„ë¡œ ì½ê¸° 
for file_path in parquet_files: 
    name = os.path.basename(file_path).replace('.parquet', '').replace('ch2025_', '') 
    lifelog_data[name] = pd.read_parquet(file_path) 
    print(f"âœ… Loaded: {name}, shape = {lifelog_data[name].shape}") 

# ë”•ì…”ë„ˆë¦¬ì— ìˆëŠ” ëª¨ë“  í•­ëª©ì„ ë…ë¦½ì ì¸ ë³€ìˆ˜ë¡œ í• ë‹¹ 
for key, df in lifelog_data.items(): 
    globals()[f"{key}_df"] = df 

# ë©”íŠ¸ë¦­ìŠ¤ íŒŒì¼ ì½ê¸°
metrics_train = pd.read_csv(base_folder + '/ch2025_metrics_train.csv')
sample_submission = pd.read_csv(base_folder+'/ch2025_submission_sample.csv')

# âœ… ê¸°ì¤€ ìŒ (subject_id, lifelog_date) 
sample_submission['lifelog_date'] = pd.to_datetime(sample_submission['lifelog_date']) 
test_keys = set(zip(sample_submission['subject_id'], sample_submission['lifelog_date'].dt.date)) 

# --------------------------- # 
# âœ… DataFrame ë³„ timestamp ì»¬ëŸ¼ ìˆ˜ë™ ì§€ì • 
dataframes = { 
    'mACStatus': (mACStatus_df, 'timestamp'), 
    'mActivity': (mActivity_df, 'timestamp'), 
    'mAmbience': (mAmbience_df, 'timestamp'), 
    'mBle': (mBle_df, 'timestamp'), 
    'mGps': (mGps_df, 'timestamp'), 
    'mLight': (mLight_df, 'timestamp'), 
    'mScreenStatus': (mScreenStatus_df, 'timestamp'), 
    'mUsageStats': (mUsageStats_df, 'timestamp'), 
    'mWifi': (mWifi_df, 'timestamp'), 
    'wHr': (wHr_df, 'timestamp'), 
    'wLight': (wLight_df, 'timestamp'), 
    'wPedo': (wPedo_df, 'timestamp'), 
} 
# âœ… ë¶„ë¦¬ í•¨ìˆ˜ 
def split_test_train(df, subject_col='subject_id', timestamp_col='timestamp'): 
    df[timestamp_col] = pd.to_datetime(df[timestamp_col], errors='coerce') 
    df = df.dropna(subset=[timestamp_col]) 
    df['date_only'] = df[timestamp_col].dt.date 
    df['key'] = list(zip(df[subject_col], df['date_only'])) 
    test_df = df[df['key'].isin(test_keys)].drop(columns=['date_only', 'key']) 
    train_df = df[~df['key'].isin(test_keys)].drop(columns=['date_only', 'key']) 
    return test_df, train_df 


# âœ… ê²°ê³¼ ì €ì¥ 
for name, (df, ts_col) in dataframes.items(): 
    print(f"â³ {name} ë¶„ë¦¬ ì¤‘...") 
    test_df, train_df = split_test_train(df.copy(), subject_col='subject_id', timestamp_col=ts_col) 
    globals()[f"{name}_test"] = test_df 
    globals()[f"{name}_train"] = train_df 
    print(f"âœ… {name}_test â†’ {test_df.shape}, {name}_train â†’ {train_df.shape}")

âœ… Loaded: wHr, shape = (382918, 3)
âœ… Loaded: mGps, shape = (800611, 3)
âœ… Loaded: mScreenStatus, shape = (939653, 3)
âœ… Loaded: mACStatus, shape = (939896, 3)
âœ… Loaded: mActivity, shape = (961062, 3)
âœ… Loaded: mBle, shape = (21830, 3)
âœ… Loaded: mWifi, shape = (76336, 3)
âœ… Loaded: mLight, shape = (96258, 3)
âœ… Loaded: mAmbience, shape = (476577, 3)
âœ… Loaded: wLight, shape = (633741, 3)
âœ… Loaded: wPedo, shape = (748100, 9)
âœ… Loaded: mUsageStats, shape = (45197, 3)
â³ mACStatus ë¶„ë¦¬ ì¤‘...
âœ… mACStatus_test â†’ (335849, 3), mACStatus_train â†’ (604047, 3)
â³ mActivity ë¶„ë¦¬ ì¤‘...
âœ… mActivity_test â†’ (343579, 3), mActivity_train â†’ (617483, 3)
â³ mAmbience ë¶„ë¦¬ ì¤‘...
âœ… mAmbience_test â†’ (170453, 3), mAmbience_train â†’ (306124, 3)
â³ mBle ë¶„ë¦¬ ì¤‘...
âœ… mBle_test â†’ (8140, 3), mBle_train â†’ (13690, 3)
â³ mGps ë¶„ë¦¬ ì¤‘...
âœ… mGps_test â†’ (287386, 3), mGps_train â†’ (513225, 3)
â³ mLight ë¶„ë¦¬ ì¤‘...
âœ… mLight_test â†’ (34439, 3), mLight_train â†’ (61819, 3)
â³ mScreenStatus ë¶„ë¦¬ ì¤‘...
âœ… mScreenStatus_test â†’ (336160, 3), mScreenStatus_train â†’ (603493, 3)
â³ mUsageStats ë¶„ë¦¬ ì¤‘...
âœ… mUsageStats_test â†’ (16499, 3), mUsageStats_train â†’ (28698, 3)
â³ mWifi ë¶„ë¦¬ ì¤‘...
âœ… mWifi_test â†’ (27467, 3), mWifi_train â†’ (48869, 3)
â³ wHr ë¶„ë¦¬ ì¤‘...
âœ… wHr_test â†’ (143311, 3), wHr_train â†’ (239607, 3)
â³ wLight ë¶„ë¦¬ ì¤‘...
âœ… wLight_test â†’ (233809, 3), wLight_train â†’ (399932, 3)
â³ wPedo ë¶„ë¦¬ ì¤‘...
âœ… wPedo_test â†’ (288832, 9), wPedo_train â†’ (459268, 9)

In [ ]:

def get_time_block(hour): 
    if 0 <= hour < 6: 
        return 'early_morning' 
    elif 6 <= hour < 12: 
        return 'morning' 
    elif 12 <= hour < 18: 
        return 'afternoon' 
    else: 
        return 'evening' 

def process_wHr_by_timeblock(df): 
    df = df.copy() 
    df['timestamp'] = pd.to_datetime(df['timestamp']) 
    df['date'] = df['timestamp'].dt.date 
    df['block'] = df['timestamp'].dt.hour.map(get_time_block) 
    results = [] 
    for (subj, date), group in df.groupby(['subject_id', 'date']): 
        block_stats = {'subject_id': subj, 'date': date} 
        for block, block_group in group.groupby('block'): 
            hr_all = [] 
            for row in block_group['heart_rate']:  # ë¦¬ìŠ¤í¬ ê°’ë“¤ ë³‘í•©
                parsed = ast.literal_eval(row) if isinstance(row, str) else row 
                hr_all.extend([int(h) for h in parsed if h is not None]) 
            if not hr_all: 
                continue 
            above_100 = [hr for hr in hr_all if hr > 100] 
            block_stats[f'hr_{block}_mean'] = np.mean(hr_all) 
            block_stats[f'hr_{block}_std'] = np.std(hr_all) 
            block_stats[f'hr_{block}_max'] = np.max(hr_all) 
            block_stats[f'hr_{block}_min'] = np.min(hr_all) 
            block_stats[f'hr_{block}_above_100_ratio'] = len(above_100) / len(hr_all) 
        results.append(block_stats) 
    return pd.DataFrame(results) 

wHr_df2 = process_wHr_by_timeblock(wHr_df) 
wHr_df2.head(2)

,subject_id,date,hr_afternoon_mean,hr_afternoon_std,hr_afternoon_max,hr_afternoon_min,hr_afternoon_above_100_ratio,hr_evening_mean,hr_evening_std,hr_evening_max,...,hr_early_morning_mean,hr_early_morning_std,hr_early_morning_max,hr_early_morning_min,hr_early_morning_above_100_ratio,hr_morning_mean,hr_morning_std,hr_morning_max,hr_morning_min,hr_morning_above_100_ratio
0,id01,2024-06-26,80.533300,12.636566,142.0,59.0,0.077268,82.476838,10.293221,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id01,2024-06-27,87.405165,12.296994,125.0,63.0,0.179430,83.526477,10.967673,122.0,...,86.170431,11.875367,113.0,66.0,0.160164,72.343956,10.333083,130.0,53.0,0.023445

* ê¸°ì¡´ íŒŒìƒë³€ìˆ˜

In [34]:
wHr_df2.columns

Index(['subject_id', 'date', 'hr_afternoon_mean', 'hr_afternoon_std',
       'hr_afternoon_max', 'hr_afternoon_min', 'hr_afternoon_above_100_ratio',
       'hr_evening_mean', 'hr_evening_std', 'hr_evening_max', 'hr_evening_min',
       'hr_evening_above_100_ratio', 'hr_early_morning_mean',
       'hr_early_morning_std', 'hr_early_morning_max', 'hr_early_morning_min',
       'hr_early_morning_above_100_ratio', 'hr_morning_mean', 'hr_morning_std',
       'hr_morning_max', 'hr_morning_min', 'hr_morning_above_100_ratio'],
      dtype='object')

(*) í•´ë‹¹ ë‚ ì§œì— 0~6ì‹œ ì‚¬ì´ ë°ì´í„°ê°€ ì—†ìœ¼ë©´ early_morning ë¸”ë¡ ìì²´ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ  
> id01ì˜ 2024-06-26ì— early_morning ë°ì´í„°ê°€ ì—†ë‹¤ë©´  
> hr_early_morning_mean, hr_early_morning_std ë“±ì˜ í‚¤ê°€ ë”•ì…”ë„ˆë¦¬ì— ì—†ìŒ

* íŒŒìƒë³€ìˆ˜ì—ì„œ NaNì´ 50% ì´ìƒì¸ ì‹œê°„ëŒ€ëŠ” ì•„ì˜ˆ ì œì™¸ (í”¼ì²˜ ìˆ˜ ì¤„ì´ê¸°)

In [35]:
import pandas as pd
import numpy as np

def analyze_missing_by_timeblock(df, threshold=50):
    """
    ì‹œê°„ëŒ€ë³„ ê²°ì¸¡ë¥  ë¶„ì„í•˜ê³  ë“œë¡­í•  í”¼ì²˜ ê²°ì •
    threshold: ê²°ì¸¡ë¥  ì„ê³„ê°’ (%)
    """
    time_blocks = ['early_morning', 'morning', 'afternoon', 'evening']
    drop_features = []
    keep_features = []
    
    print("=" * 60)
    print("ì‹œê°„ëŒ€ë³„ ê²°ì¸¡ë¥  ë¶„ì„")
    print("=" * 60)
    
    for block in time_blocks:
        # í•´ë‹¹ ì‹œê°„ëŒ€ì˜ ëª¨ë“  í”¼ì²˜ë“¤
        block_features = [col for col in df.columns if f'hr_{block}_' in col]
        
        if not block_features:
            continue
            
        # ê²°ì¸¡ë¥  ê³„ì‚° (mean ì»¬ëŸ¼ ê¸°ì¤€)
        mean_col = f'hr_{block}_mean'
        if mean_col in df.columns:
            missing_count = df[mean_col].isnull().sum()
            missing_pct = missing_count / len(df) * 100
            
            print(f"\nğŸ“Š {block.upper()}")
            print(f"   ê²°ì¸¡ ê°œìˆ˜: {missing_count}/{len(df)}")
            print(f"   ê²°ì¸¡ë¥ : {missing_pct:.1f}%")
            print(f"   ê´€ë ¨ í”¼ì²˜: {len(block_features)}ê°œ")
            
            if missing_pct > threshold:
                print(f"   âŒ ê²°ì¸¡ë¥ ì´ {threshold}% ì´ˆê³¼ -> ë“œë¡­ ëŒ€ìƒ")
                drop_features.extend(block_features)
                print('  ë“œë¡­í•  í”¼ì³: ', drop_features)
            else:
                print(f"   âœ… ê²°ì¸¡ë¥ ì´ {threshold}% ì´í•˜ -> ìœ ì§€")
                keep_features.extend(block_features)
    
    return drop_features, keep_features

# ì‹¤í–‰
drop_features, keep_features = analyze_missing_by_timeblock(wHr_df2, threshold=50)

============================================================
ì‹œê°„ëŒ€ë³„ ê²°ì¸¡ë¥  ë¶„ì„
============================================================

ğŸ“Š EARLY_MORNING
   ê²°ì¸¡ ê°œìˆ˜: 411/636
   ê²°ì¸¡ë¥ : 64.6%
   ê´€ë ¨ í”¼ì²˜: 5ê°œ
   âŒ ê²°ì¸¡ë¥ ì´ 50% ì´ˆê³¼ -> ë“œë¡­ ëŒ€ìƒ
  ë“œë¡­í•  í”¼ì³:  ['hr_early_morning_mean', 'hr_early_morning_std', 'hr_early_morning_max', 'hr_early_morning_min', 'hr_early_morning_above_100_ratio']

ğŸ“Š MORNING
   ê²°ì¸¡ ê°œìˆ˜: 94/636
   ê²°ì¸¡ë¥ : 14.8%
   ê´€ë ¨ í”¼ì²˜: 5ê°œ
   âœ… ê²°ì¸¡ë¥ ì´ 50% ì´í•˜ -> ìœ ì§€

ğŸ“Š AFTERNOON
   ê²°ì¸¡ ê°œìˆ˜: 39/636
   ê²°ì¸¡ë¥ : 6.1%
   ê´€ë ¨ í”¼ì²˜: 5ê°œ
   âœ… ê²°ì¸¡ë¥ ì´ 50% ì´í•˜ -> ìœ ì§€

ğŸ“Š EVENING
   ê²°ì¸¡ ê°œìˆ˜: 103/636
   ê²°ì¸¡ë¥ : 16.2%
   ê´€ë ¨ í”¼ì²˜: 5ê°œ
   âœ… ê²°ì¸¡ë¥ ì´ 50% ì´í•˜ -> ìœ ì§€

### í”¼ì³ ë“œë¡­

In [ ]:
def drop_high_missing_features(df, drop_features):
    """
    ë†’ì€ ê²°ì¸¡ë¥  í”¼ì²˜ë“¤ ë“œë¡­
    """
    print("\n" + "=" * 60)
    print("í”¼ì²˜ ë“œë¡­ ì‹¤í–‰")
    print("=" * 60)
    
    if not drop_features:
        print("ë“œë¡­í•  í”¼ì²˜ê°€ ì—†ìŠµë‹ˆë‹¤.")
        return df
    
    print(f"ë“œë¡­í•  í”¼ì²˜ ìˆ˜: {len(drop_features)}")
    print("ë“œë¡­í•  í”¼ì²˜ë“¤:")
    for feature in drop_features:
        print(f"  - {feature}")
    
    df_cleaned = df.drop(columns=drop_features)
    
    print(f"\në³€ê²½ì‚¬í•­:")
    print(f"  ì´ì „ í”¼ì²˜ ìˆ˜: {df.shape[1]}")
    print(f"  ì´í›„ í”¼ì²˜ ìˆ˜: {df_cleaned.shape[1]}")
    print(f"  ì œê±°ëœ í”¼ì²˜ ìˆ˜: {len(drop_features)}")
    
    return df_cleaned

# í”¼ì²˜ ë“œë¡­ ì‹¤í–‰
wHr_df2 = drop_high_missing_features(wHr_df2, drop_features)

============================================================
í”¼ì²˜ ë“œë¡­ ì‹¤í–‰
============================================================
ë“œë¡­í•  í”¼ì²˜ ìˆ˜: 5
ë“œë¡­í•  í”¼ì²˜ë“¤:
  - hr_early_morning_mean
  - hr_early_morning_std
  - hr_early_morning_max
  - hr_early_morning_min
  - hr_early_morning_above_100_ratio

ë³€ê²½ì‚¬í•­:
  ì´ì „ í”¼ì²˜ ìˆ˜: 22
  ì´í›„ í”¼ì²˜ ìˆ˜: 17
  ì œê±°ëœ í”¼ì²˜ ìˆ˜: 5

### ì›ë³¸ë°ì´í„° í™•ì¸

In [ ]:
wHr_df.head(2) # heart_rate ê¸¸ì´ê°€ ì œê°ê° ë‹¤ë¦„ !

,subject_id,timestamp,heart_rate
0,id01,2024-06-26 12:23:00,"[134, 134, 135, 133, 134, 135, 134, 135, 134, ..."
1,id01,2024-06-26 12:24:00,"[123, 122, 121, 120, 121, 121, 120, 118, 119, ..."

 ìˆ˜ë©´ì˜ì§ˆ ê´€ë ¨ íŠ¹í™” íŠ¹ì„±  

ì‹¬ë°•ìˆ˜ êµ¬ê°„ë³„ ë¹„ìœ¨:  

ì„œë§¥ (<60), ì •ìƒ (60-100), ë¹ˆë§¥ (>100) ë¹„ìœ¨  


ì•ˆì •ì„± ì§€í‘œ: 1 / (1 + í‘œì¤€í¸ì°¨)  
ì¼ì£¼ê¸° ë¦¬ë“¬: ì‹œê°„ëŒ€ë³„ ì‹¬ë°•ìˆ˜ íŒ¨í„´

### íŒŒìƒë³€ìˆ˜ ì¶”ê°€   
> ë°¤-ë‚® ì‹¬ë°•ìˆ˜ ì°¨ì´, ì •ìƒì‹¬ë°•ìˆ˜ ë¹„ìœ¨, ì‹¬ë°•ìˆ˜ ì•ˆì •ì„±

In [45]:
import ast 

def get_time_block_no_early(hour): 
    if 6 <= hour < 12: 
        return 'morning' 
    elif 12 <= hour < 18: 
        return 'afternoon' 
    elif 18 <= hour < 24:
        return 'evening'
    else:
        return None

def process_wHr_with_features_only(df): 
    df = df.copy() 
    df['timestamp'] = pd.to_datetime(df['timestamp']) 
    df['date'] = df['timestamp'].dt.date 
    df['block'] = df['timestamp'].dt.hour.map(get_time_block_no_early) 
    
    results = [] 
    for (subj, date), group in df.groupby(['subject_id', 'date']): 
        block_stats = {'subject_id': subj, 'date': date} 
        
        # ì „ì²´ ì¼ì¼ ì‹¬ë°•ìˆ˜ ë°ì´í„° ìˆ˜ì§‘
        all_day_hr = []
        day_hr = []    # ë‚® (6-18ì‹œ): morning + afternoon
        night_hr = []  # ë°¤ (18-24ì‹œ): eveningë§Œ
        
        valid_group = group[group['block'].notna()]
        
        for block, block_group in valid_group.groupby('block'): 
            hr_all = [] 
            for row in block_group['heart_rate']: 
                parsed = ast.literal_eval(row) if isinstance(row, str) else row 
                hr_all.extend([int(h) for h in parsed if h is not None]) 
            
            if not hr_all: 
                continue 
            
            all_day_hr.extend(hr_all)
            
            # ë‚®/ë°¤ ë¶„ë¥˜ë§Œ í•˜ê³  ì‹œê°„ëŒ€ë³„ í†µê³„ëŠ” ì œê±°
            if block in ['morning', 'afternoon']:
                day_hr.extend(hr_all)
            elif block == 'evening':
                night_hr.extend(hr_all)
        
        # íŒŒìƒë³€ìˆ˜ 3ê°œë§Œ
        if day_hr and night_hr:
            block_stats['day_night_hr_diff'] = np.mean(day_hr) - np.mean(night_hr)
        else:
            block_stats['day_night_hr_diff'] = np.nan
        
        if all_day_hr:
            normal_hr = [hr for hr in all_day_hr if 60 <= hr <= 100]
            block_stats['normal_hr_ratio'] = len(normal_hr) / len(all_day_hr)
        else:
            block_stats['normal_hr_ratio'] = np.nan
        
        if all_day_hr and len(all_day_hr) > 1:
            hr_mean = np.mean(all_day_hr)
            hr_std = np.std(all_day_hr)
            block_stats['hr_stability'] = hr_std / hr_mean if hr_mean > 0 else np.nan
        else:
            block_stats['hr_stability'] = np.nan
            
        results.append(block_stats) 
    
    return pd.DataFrame(results) 

# ì‹¤í–‰
wHr_df3 = process_wHr_with_features_only(wHr_df)
print(wHr_df3.columns.tolist())

['subject_id', 'date', 'day_night_hr_diff', 'normal_hr_ratio', 'hr_stability']

In [46]:
wHr_df3.head(5)

  subject_id        date  day_night_hr_diff  normal_hr_ratio  hr_stability
0       id01  2024-06-26          -1.943538         0.930558      0.146119
1       id01  2024-06-27          -7.571946         0.925296      0.158047
2       id01  2024-06-28           3.314891         0.922346      0.156781
3       id01  2024-06-29         -40.727273         0.714286      0.211625
4       id01  2024-06-30                NaN         0.864973      0.113833

In [49]:
nan_ratio = wHr_df3.isnull().sum() / len(wHr_df3) * 100
print("ì»¬ëŸ¼ë³„ NaN ë¹„ìœ¨ (%):")
print(nan_ratio)

ì»¬ëŸ¼ë³„ NaN ë¹„ìœ¨ (%):
subject_id            0.000000
date                  0.000000
day_night_hr_diff    18.867925
normal_hr_ratio       0.786164
hr_stability          1.729560
dtype: float64

### merge

In [ ]:
wHr_df3 = pd.merge(wHr_df2, wHr_df3, on=['subject_id', 'date'], how='inner')
wHr_df3.head(2)

,subject_id,date,hr_afternoon_mean,hr_afternoon_std,hr_afternoon_max,hr_afternoon_min,hr_afternoon_above_100_ratio,hr_evening_mean,hr_evening_std,hr_evening_max,hr_evening_min,hr_evening_above_100_ratio,hr_morning_mean,hr_morning_std,hr_morning_max,hr_morning_min,hr_morning_above_100_ratio,day_night_hr_diff,normal_hr_ratio,hr_stability
0,id01,2024-06-26,80.533300,12.636566,142.0,59.0,0.077268,82.476838,10.293221,124.0,59.0,0.055503,NaN,NaN,NaN,NaN,NaN,-1.943538,0.930558,0.146119
1,id01,2024-06-27,87.405165,12.296994,125.0,63.0,0.179430,83.526477,10.967673,122.0,61.0,0.082859,72.343956,10.333083,130.0,53.0,0.023445,-7.571946,0.925296,0.158047

: